@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
* {
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}
main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}
h1 {
  color: #a53af7;
  margin-bottom: 0.5rem;
}
input {
  background: inherit;
  border: 1px solid #ccc;
  border-radius: 0.7rem;
  margin: 0;
  padding: 0.75rem;
  line-height: 1.25rem;
  width: 100%;
}
input:focus {
  border: 1px solid #a53af7;
  outline: none;
}
a {
  text-decoration: none;
  transition: 0.3s;
  padding: 0.1rem 0.3rem;
  border-bottom: 1px solid #a53af7;
}

a:hover {
  color: #a53af7;
}

.card {
  padding: 1.2rem;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  margin: 20px 0 0 0;
  overflow: hidden;
}

.card--title {
  color: #222;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}

.card--link {
  margin-top: 2rem;
  text-decoration: none;
  background: #a53af7;
  color: #fff;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  border: 1px solid #a53af7;
}
.card--link:hover {
  background: #fff;
  color: #a53af7;
}
